/* ========== Gradient ========= */

.background_gradient--top {
  position: absolute;
  inset: 0% 0% auto;
  z-index: 0;
  height: 60%;
  margin-right: auto;
  margin-left: auto;
  background-image: radial-gradient(
    circle farthest-corner at 50% -120%,
    #3e60b1 31%,
    var(--theme-bg--dark) 75%
  );
}

/* ========== Hero Section ========= */

/* hero component */

.home-hero__component {
  grid-gap: var(--gap-standard);
}

/* content wrapper */

.home-hero__content-wrapper {
  max-width: 65ch;
}
