---
// Components
import Image from "astro/components/Image.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import TestimonialsSilder from "../components/TestimonialsSilder.astro";
import CTASection from "../components/CTASection.astro";
import FAQ from "../components/FAQ.astro";
// Styles
import "../styles/pages/home.css";

// Assets - Images
import portraitOfCasey from "../assets/casey-lewis-owner-casey-lewis-photography.avif";
---

<BaseLayout>
  <div class="background_gradient--top"></div>
  <!-- SECTION - Home Hero -->
  <section class="home-hero padding-vertical-sitewide">
    <div class="container">
      <!-- Home Hero - Component -->

      <!-- CTA -->
      <CTASection />
      <!-- FAQ Component -->
      <FAQ />
    </div>
  </section></BaseLayout
>
